﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:206px;
  width:161px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:275px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:412px;
  width:206px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u734 label {
  left:0px;
  width:100%;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:464px;
  width:157px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u734 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u734_img.selected {
}
#u734.selected {
}
#u734_img.disabled {
}
#u734.disabled {
}
#u734_img.selectedDisabled {
}
#u734.selectedDisabled {
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:135px;
  word-wrap:break-word;
  text-transform:none;
}
#u734_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:515px;
  width:206px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u736 label {
  left:0px;
  width:100%;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:564px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u736 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u736_img.selected {
}
#u736.selected {
}
#u736_img.disabled {
}
#u736.disabled {
}
#u736_img.selectedDisabled {
}
#u736.selectedDisabled {
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u736_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u737 label {
  left:0px;
  width:100%;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:564px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u737_img.selected {
}
#u737.selected {
}
#u737_img.disabled {
}
#u737.disabled {
}
#u737_img.selectedDisabled {
}
#u737.selectedDisabled {
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u737_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u738 label {
  left:0px;
  width:100%;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:564px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u738 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u738_img.selected {
}
#u738.selected {
}
#u738_img.disabled {
}
#u738.disabled {
}
#u738_img.selectedDisabled {
}
#u738.selectedDisabled {
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u738_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u739 label {
  left:0px;
  width:100%;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:564px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u739 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u739_img.selected {
}
#u739.selected {
}
#u739_img.disabled {
}
#u739.disabled {
}
#u739_img.selectedDisabled {
}
#u739.selectedDisabled {
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u739_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:699px;
  width:49px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u741 label {
  left:0px;
  width:100%;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u741 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u741_img.selected {
}
#u741.selected {
}
#u741_img.disabled {
}
#u741.disabled {
}
#u741_img.selectedDisabled {
}
#u741.selectedDisabled {
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u741_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u742 label {
  left:0px;
  width:100%;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u742 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u742_img.selected {
}
#u742.selected {
}
#u742_img.disabled {
}
#u742.disabled {
}
#u742_img.selectedDisabled {
}
#u742.selectedDisabled {
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u742_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u743 label {
  left:0px;
  width:100%;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u743 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u743_img.selected {
}
#u743.selected {
}
#u743_img.disabled {
}
#u743.disabled {
}
#u743_img.selectedDisabled {
}
#u743.selectedDisabled {
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u743_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:792px;
  width:49px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u745 label {
  left:0px;
  width:100%;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:840px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u745 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u745_img.selected {
}
#u745.selected {
}
#u745_img.disabled {
}
#u745.disabled {
}
#u745_img.selectedDisabled {
}
#u745.selectedDisabled {
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u745_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u746 label {
  left:0px;
  width:100%;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:840px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u746 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u746_img.selected {
}
#u746.selected {
}
#u746_img.disabled {
}
#u746.disabled {
}
#u746_img.selectedDisabled {
}
#u746.selectedDisabled {
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u746_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:888px;
  width:145px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u748 label {
  left:0px;
  width:100%;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:936px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u748 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u748_img.selected {
}
#u748.selected {
}
#u748_img.disabled {
}
#u748.disabled {
}
#u748_img.selectedDisabled {
}
#u748.selectedDisabled {
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u748_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u749 label {
  left:0px;
  width:100%;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:936px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u749 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u749_img.selected {
}
#u749.selected {
}
#u749_img.disabled {
}
#u749.disabled {
}
#u749_img.selectedDisabled {
}
#u749.selectedDisabled {
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u749_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u750 label {
  left:0px;
  width:100%;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:936px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u750 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u750_img.selected {
}
#u750.selected {
}
#u750_img.disabled {
}
#u750.disabled {
}
#u750_img.selectedDisabled {
}
#u750.selectedDisabled {
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u750_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u751 label {
  left:0px;
  width:100%;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u751 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u751_img.selected {
}
#u751.selected {
}
#u751_img.disabled {
}
#u751.disabled {
}
#u751_img.selectedDisabled {
}
#u751.selectedDisabled {
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u751_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u752 label {
  left:0px;
  width:100%;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u752 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u752_img.selected {
}
#u752.selected {
}
#u752_img.disabled {
}
#u752.disabled {
}
#u752_img.selectedDisabled {
}
#u752.selectedDisabled {
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u752_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u753 label {
  left:0px;
  width:100%;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u753 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u753_img.selected {
}
#u753.selected {
}
#u753_img.disabled {
}
#u753.disabled {
}
#u753_img.selectedDisabled {
}
#u753.selectedDisabled {
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u753_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u754 label {
  left:0px;
  width:100%;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u754 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u754_img.selected {
}
#u754.selected {
}
#u754_img.disabled {
}
#u754.disabled {
}
#u754_img.selectedDisabled {
}
#u754.selectedDisabled {
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u754_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u755 label {
  left:0px;
  width:100%;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:747px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u755 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u755_img.selected {
}
#u755.selected {
}
#u755_img.disabled {
}
#u755.disabled {
}
#u755_img.selectedDisabled {
}
#u755.selectedDisabled {
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u755_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:978px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u756_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u757 label {
  left:0px;
  width:100%;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1026px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u757 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u757_img.selected {
}
#u757.selected {
}
#u757_img.disabled {
}
#u757.disabled {
}
#u757_img.selectedDisabled {
}
#u757.selectedDisabled {
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u757_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u758 label {
  left:0px;
  width:100%;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1026px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u758 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u758_img.selected {
}
#u758.selected {
}
#u758_img.disabled {
}
#u758.disabled {
}
#u758_img.selectedDisabled {
}
#u758.selectedDisabled {
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u758_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u759 label {
  left:0px;
  width:100%;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:1026px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u759 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u759_img.selected {
}
#u759.selected {
}
#u759_img.disabled {
}
#u759.disabled {
}
#u759_img.selectedDisabled {
}
#u759.selectedDisabled {
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u759_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1067px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u761 label {
  left:0px;
  width:100%;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1115px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u761 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u761_img.selected {
}
#u761.selected {
}
#u761_img.disabled {
}
#u761.disabled {
}
#u761_img.selectedDisabled {
}
#u761.selectedDisabled {
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u761_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u762 label {
  left:0px;
  width:100%;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1115px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u762_img.selected {
}
#u762.selected {
}
#u762_img.disabled {
}
#u762.disabled {
}
#u762_img.selectedDisabled {
}
#u762.selectedDisabled {
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u762_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u763 label {
  left:0px;
  width:100%;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:1115px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u763_img.selected {
}
#u763.selected {
}
#u763_img.disabled {
}
#u763.disabled {
}
#u763_img.selectedDisabled {
}
#u763.selectedDisabled {
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u763_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u764 label {
  left:0px;
  width:100%;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1115px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u764 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u764_img.selected {
}
#u764.selected {
}
#u764_img.disabled {
}
#u764.disabled {
}
#u764_img.selectedDisabled {
}
#u764.selectedDisabled {
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u764_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1165px;
  width:145px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u766 label {
  left:0px;
  width:100%;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1218px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u766_img.selected {
}
#u766.selected {
}
#u766_img.disabled {
}
#u766.disabled {
}
#u766_img.selectedDisabled {
}
#u766.selectedDisabled {
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u766_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u767 label {
  left:0px;
  width:100%;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1218px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u767_img.selected {
}
#u767.selected {
}
#u767_img.disabled {
}
#u767.disabled {
}
#u767_img.selectedDisabled {
}
#u767.selectedDisabled {
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u767_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u768 label {
  left:0px;
  width:100%;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:1218px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u768_img.selected {
}
#u768.selected {
}
#u768_img.disabled {
}
#u768.disabled {
}
#u768_img.selectedDisabled {
}
#u768.selectedDisabled {
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u768_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u769 label {
  left:0px;
  width:100%;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1218px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u769_img.selected {
}
#u769.selected {
}
#u769_img.disabled {
}
#u769.disabled {
}
#u769_img.selectedDisabled {
}
#u769.selectedDisabled {
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u769_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1264px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u771 label {
  left:0px;
  width:100%;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1311px;
  width:133px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u771_img.selected {
}
#u771.selected {
}
#u771_img.disabled {
}
#u771.disabled {
}
#u771_img.selectedDisabled {
}
#u771.selectedDisabled {
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u771_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u772 label {
  left:0px;
  width:100%;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1311px;
  width:133px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u772_img.selected {
}
#u772.selected {
}
#u772_img.disabled {
}
#u772.disabled {
}
#u772_img.selectedDisabled {
}
#u772.selectedDisabled {
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u772_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1358px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u774 label {
  left:0px;
  width:100%;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1406px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u774_img.selected {
}
#u774.selected {
}
#u774_img.disabled {
}
#u774.disabled {
}
#u774_img.selectedDisabled {
}
#u774.selectedDisabled {
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u774_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u775 label {
  left:0px;
  width:100%;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1406px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u775 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u775_img.selected {
}
#u775.selected {
}
#u775_img.disabled {
}
#u775.disabled {
}
#u775_img.selectedDisabled {
}
#u775.selectedDisabled {
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u775_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u776 label {
  left:0px;
  width:100%;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1406px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u776 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u776_img.selected {
}
#u776.selected {
}
#u776_img.disabled {
}
#u776.disabled {
}
#u776_img.selectedDisabled {
}
#u776.selectedDisabled {
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u776_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u777 label {
  left:0px;
  width:100%;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:1406px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u777_img.selected {
}
#u777.selected {
}
#u777_img.disabled {
}
#u777.disabled {
}
#u777_img.selectedDisabled {
}
#u777.selectedDisabled {
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u777_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1838px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1464px;
  width:257px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u781 {
  position:absolute;
  left:0px;
  top:0px;
}
#u781_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1440px;
  height:90px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:90px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:90px;
  display:flex;
}
#u782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#F2F2F2;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:28px;
  width:129px;
  height:44px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#F2F2F2;
}
#u783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:89px;
  width:163px;
  height:107px;
  display:flex;
}
#u785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:98px;
  width:115px;
  height:44px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:146px;
  width:115px;
  height:44px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:141px;
  width:139px;
  height:1px;
  display:flex;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F2F2F2;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:28px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#F2F2F2;
}
#u789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:180px;
  display:flex;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1631px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:107px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u792_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:107px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1664px;
  width:344px;
  height:107px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u792 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u792_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:107px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u792.disabled {
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:475px;
  width:17px;
  height:15px;
  display:flex;
}
#u793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:417px;
  width:228px;
  height:47px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1908px;
  width:1440px;
  height:230px;
  display:flex;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:1950px;
  width:121px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:2030px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:1934px;
  width:33px;
  height:31px;
  display:flex;
}
#u799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:1979px;
  width:33px;
  height:33px;
  display:flex;
}
#u800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:2028px;
  width:33px;
  height:29px;
  display:flex;
}
#u801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:2px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:2089px;
  width:725px;
  height:1px;
  display:flex;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1932px;
  width:121px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1979px;
  width:183px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:2028px;
  width:296px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:2099px;
  width:20px;
  height:20px;
  display:flex;
}
#u806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:2091px;
  width:127px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:2091px;
  width:157px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u809 label {
  left:0px;
  width:100%;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:464px;
  width:182px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u809_img.selected {
}
#u809.selected {
}
#u809_img.disabled {
}
#u809.disabled {
}
#u809_img.selectedDisabled {
}
#u809.selectedDisabled {
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:160px;
  word-wrap:break-word;
  text-transform:none;
}
#u809_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:473px;
  width:17px;
  height:15px;
  display:flex;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811 label {
  left:0px;
  width:100%;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:464px;
  width:205px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u811_img.selected {
}
#u811.selected {
}
#u811_img.disabled {
}
#u811.disabled {
}
#u811_img.selectedDisabled {
}
#u811.selectedDisabled {
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:183px;
  word-wrap:break-word;
  text-transform:none;
}
#u811_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:472px;
  width:17px;
  height:15px;
  display:flex;
}
#u812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u813 label {
  left:0px;
  width:100%;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:464px;
  width:150px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u813 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u813_img.selected {
}
#u813.selected {
}
#u813_img.disabled {
}
#u813.disabled {
}
#u813_img.selectedDisabled {
}
#u813.selectedDisabled {
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:128px;
  word-wrap:break-word;
  text-transform:none;
}
#u813_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:472px;
  width:17px;
  height:15px;
  display:flex;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u815 label {
  left:0px;
  width:100%;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:464px;
  width:121px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u815_img.selected {
}
#u815.selected {
}
#u815_img.disabled {
}
#u815.disabled {
}
#u815_img.selectedDisabled {
}
#u815.selectedDisabled {
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:99px;
  word-wrap:break-word;
  text-transform:none;
}
#u815_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:472px;
  width:17px;
  height:15px;
  display:flex;
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u817 label {
  left:0px;
  width:100%;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:18px;
  height:18px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:464px;
  width:291px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u817_img.selected {
}
#u817.selected {
}
#u817_img.disabled {
}
#u817.disabled {
}
#u817_img.selectedDisabled {
}
#u817.selectedDisabled {
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:269px;
  word-wrap:break-word;
  text-transform:none;
}
#u817_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:472px;
  width:17px;
  height:15px;
  display:flex;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:605px;
  width:218px;
  height:33px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u820 label {
  left:0px;
  width:100%;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u820_img.selected {
}
#u820.selected {
}
#u820_img.disabled {
}
#u820.disabled {
}
#u820_img.selectedDisabled {
}
#u820.selectedDisabled {
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u820_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u821 label {
  left:0px;
  width:100%;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u821_img.selected {
}
#u821.selected {
}
#u821_img.disabled {
}
#u821.disabled {
}
#u821_img.selectedDisabled {
}
#u821.selectedDisabled {
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u821_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u822 label {
  left:0px;
  width:100%;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u822_img.selected {
}
#u822.selected {
}
#u822_img.disabled {
}
#u822.disabled {
}
#u822_img.selectedDisabled {
}
#u822.selectedDisabled {
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u822_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u823 label {
  left:0px;
  width:100%;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u823_img.selected {
}
#u823.selected {
}
#u823_img.disabled {
}
#u823.disabled {
}
#u823_img.selectedDisabled {
}
#u823.selectedDisabled {
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u823_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u824 label {
  left:0px;
  width:100%;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u824_img.selected {
}
#u824.selected {
}
#u824_img.disabled {
}
#u824.disabled {
}
#u824_img.selectedDisabled {
}
#u824.selectedDisabled {
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u824_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u825 label {
  left:0px;
  width:100%;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:657px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u825_img.selected {
}
#u825.selected {
}
#u825_img.disabled {
}
#u825.disabled {
}
#u825_img.selectedDisabled {
}
#u825.selectedDisabled {
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u825_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u826 label {
  left:0px;
  width:100%;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1115px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u826_img.selected {
}
#u826.selected {
}
#u826_img.disabled {
}
#u826.disabled {
}
#u826_img.selectedDisabled {
}
#u826.selectedDisabled {
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u826_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u827 label {
  left:0px;
  width:100%;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1311px;
  width:133px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u827_img.selected {
}
#u827.selected {
}
#u827_img.disabled {
}
#u827.disabled {
}
#u827_img.selectedDisabled {
}
#u827.selectedDisabled {
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u827_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u828 label {
  left:0px;
  width:100%;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1311px;
  width:133px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u828 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u828_img.selected {
}
#u828.selected {
}
#u828_img.disabled {
}
#u828.disabled {
}
#u828_img.selectedDisabled {
}
#u828.selectedDisabled {
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u828_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u829 label {
  left:0px;
  width:100%;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1311px;
  width:133px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u829_img.selected {
}
#u829.selected {
}
#u829_img.disabled {
}
#u829.disabled {
}
#u829_img.selectedDisabled {
}
#u829.selectedDisabled {
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:117px;
  word-wrap:break-word;
  text-transform:none;
}
#u829_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u830 label {
  left:0px;
  width:100%;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:12px;
  height:12px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1406px;
  width:100px;
  height:28px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u830_img.selected {
}
#u830.selected {
}
#u830_img.disabled {
}
#u830.disabled {
}
#u830_img.selectedDisabled {
}
#u830.selectedDisabled {
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u830_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u831_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:335px;
  width:238px;
  height:44px;
  display:flex;
  font-size:17px;
}
#u831 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u831.disabled {
}
.u831_input_option {
  font-size:17px;
}
#u832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u832_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:335px;
  width:238px;
  height:44px;
  display:flex;
  font-size:17px;
}
#u832 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u832.disabled {
}
.u832_input_option {
  font-size:17px;
}
#u833 label {
  left:0px;
  width:100%;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:17px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1511px;
  width:153px;
  height:24px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u833_img.selected {
}
#u833.selected {
}
#u833_img.disabled {
}
#u833.disabled {
}
#u833_img.selectedDisabled {
}
#u833.selectedDisabled {
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:132px;
  word-wrap:break-word;
  text-transform:none;
}
#u833_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u834 label {
  left:0px;
  width:100%;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:17px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1541px;
  width:63px;
  height:24px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u834_img.selected {
}
#u834.selected {
}
#u834_img.disabled {
}
#u834.disabled {
}
#u834_img.selectedDisabled {
}
#u834.selectedDisabled {
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:42px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u835_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1511px;
  width:300px;
  height:25px;
  display:flex;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835.disabled {
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u836_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1541px;
  width:300px;
  height:25px;
  display:flex;
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u836_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836.disabled {
}
#u837 label {
  left:0px;
  width:100%;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  height:17px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1572px;
  width:63px;
  height:24px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u837_img.selected {
}
#u837.selected {
}
#u837_img.disabled {
}
#u837.disabled {
}
#u837_img.selectedDisabled {
}
#u837.selectedDisabled {
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:42px;
  word-wrap:break-word;
  text-transform:none;
}
#u837_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u838_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1572px;
  width:300px;
  height:25px;
  display:flex;
}
#u838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u838_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838.disabled {
}
