﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1355px;
  height:378px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:220px;
  width:1355px;
  height:378px;
  display:flex;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:233px;
  width:129px;
  height:58px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:351px;
  width:129px;
  height:58px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1413_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1413_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:50px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:241px;
  width:297px;
  height:50px;
  display:flex;
}
#u1413 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1413_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:50px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413.disabled {
}
.u1413_input_option {
}
#u1414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1414_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:241px;
  width:301px;
  height:51px;
  display:flex;
}
#u1414 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414.disabled {
}
.u1414_input_option {
}
#u1415 label {
  left:0px;
  width:100%;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:351px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1415_img.selected {
}
#u1415.selected {
}
#u1415_img.disabled {
}
#u1415.disabled {
}
#u1415_img.selectedDisabled {
}
#u1415.selectedDisabled {
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1415_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1416 label {
  left:0px;
  width:100%;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:351px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1416 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1416_img.selected {
}
#u1416.selected {
}
#u1416_img.disabled {
}
#u1416.disabled {
}
#u1416_img.selectedDisabled {
}
#u1416.selectedDisabled {
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1416_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1417 label {
  left:0px;
  width:100%;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:351px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1417 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1417_img.selected {
}
#u1417.selected {
}
#u1417_img.disabled {
}
#u1417.disabled {
}
#u1417_img.selectedDisabled {
}
#u1417.selectedDisabled {
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1417_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1418 label {
  left:0px;
  width:100%;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:351px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1418 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1418_img.selected {
}
#u1418.selected {
}
#u1418_img.disabled {
}
#u1418.disabled {
}
#u1418_img.selectedDisabled {
}
#u1418.selectedDisabled {
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1418_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1419 label {
  left:0px;
  width:100%;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:409px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1419 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1419_img.selected {
}
#u1419.selected {
}
#u1419_img.disabled {
}
#u1419.disabled {
}
#u1419_img.selectedDisabled {
}
#u1419.selectedDisabled {
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1419_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1420 label {
  left:0px;
  width:100%;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:409px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1420 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1420_img.selected {
}
#u1420.selected {
}
#u1420_img.disabled {
}
#u1420.disabled {
}
#u1420_img.selectedDisabled {
}
#u1420.selectedDisabled {
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1420_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1421 label {
  left:0px;
  width:100%;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:409px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1421 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1421_img.selected {
}
#u1421.selected {
}
#u1421_img.disabled {
}
#u1421.disabled {
}
#u1421_img.selectedDisabled {
}
#u1421.selectedDisabled {
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1421_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1422 label {
  left:0px;
  width:100%;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:409px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1422 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1422_img.selected {
}
#u1422.selected {
}
#u1422_img.disabled {
}
#u1422.disabled {
}
#u1422_img.selectedDisabled {
}
#u1422.selectedDisabled {
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1422_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1423 label {
  left:0px;
  width:100%;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:469px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1423 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1423_img.selected {
}
#u1423.selected {
}
#u1423_img.disabled {
}
#u1423.disabled {
}
#u1423_img.selectedDisabled {
}
#u1423.selectedDisabled {
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1423_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1424 label {
  left:0px;
  width:100%;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:469px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1424 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1424_img.selected {
}
#u1424.selected {
}
#u1424_img.disabled {
}
#u1424.disabled {
}
#u1424_img.selectedDisabled {
}
#u1424.selectedDisabled {
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1424_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1425 label {
  left:0px;
  width:100%;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:469px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1425 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1425_img.selected {
}
#u1425.selected {
}
#u1425_img.disabled {
}
#u1425.disabled {
}
#u1425_img.selectedDisabled {
}
#u1425.selectedDisabled {
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1425_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1426 label {
  left:0px;
  width:100%;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:469px;
  width:163px;
  height:31px;
  display:flex;
  font-size:27px;
}
#u1426 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1426_img.selected {
}
#u1426.selected {
}
#u1426_img.disabled {
}
#u1426.disabled {
}
#u1426_img.selectedDisabled {
}
#u1426.selectedDisabled {
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:147px;
  word-wrap:break-word;
  text-transform:none;
}
#u1426_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:685px;
  width:25px;
  height:25px;
  display:flex;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:685px;
  width:25px;
  height:25px;
  display:flex;
}
#u1429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:685px;
  width:25px;
  height:25px;
  display:flex;
}
#u1430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:685px;
  width:25px;
  height:25px;
  display:flex;
}
#u1431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:685px;
  width:25px;
  height:25px;
  display:flex;
}
#u1432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:794px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:851px;
  width:225px;
  height:112px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u1434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:1005px;
  width:225px;
  height:112px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:25px;
  color:#797979;
}
#u1435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1226px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1436_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
